# Compilados y artefactos
target/
*.war
*.ear
*.jar
*.class

# Servidores y binarios pesados (Nunca subir a Git)
wildfly*/
*.zip
*.log

# IDEs
.settings/
.project
.classpath
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db
